.home {
     padding-top: 80px;
     background-color: #f7f7f7;
}

.homesection1 {
     display: flex;
     width: 85%;
     margin: 0 auto;
}

.homesection1child1 {
     width: 50%;
}

.homesection1child2 {
     width: 50%;
}

.homesection1child1 h1 {
     font-size: 2.9rem;
     font-weight: 600;
     margin-top: 1.6em;
     margin-bottom: 20px;
}

.homesection1child1 p {
     font-size: 1.2rem;
     margin: 1em auto 1.4em auto;
}

.homebtn {
     border-radius: 5px;
     border: none;
     font-weight: 600;
     font-size: 14px;
     width: 200px;
     padding: 16px 0;
     color: #1d1d1d;
}

.homebtn1 {
     background-color: #ffbc04;
}

.homebtn2 {
     margin-left: 1rem;
     border: 1px solid black;
     background-color: #fff;
}

.homesection2child1 {
     margin-top: 2em;
     margin-bottom: 4em;
     justify-content: center;
     display: flex;
}

.homesection2child1 li a {
     padding: 0 2px;
     color: rgb(0, 140, 255);
     font-size: 1.2rem;
}

.homesection2child2 {
     text-align: center;
     margin-bottom: 1em;
}

.homesection2child3 p {
     font-size: 1.1rem;
     text-align: center;
}


.homesection3 {
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 2rem auto;
}

.homesection3child {
     width: 315px;
     margin: 2em 16px;
     min-height: 315px;
     background-color: #ffffff;
     box-shadow: 2px 2px 5px rgb(209, 207, 207), -2px -2px 5px rgb(208, 207, 207);
     text-align: center;
}


.homesection3child>div {
     border-radius: 20% 20% 0 0;
     background-color: #ffffff;
     color: black;
     padding-bottom: 2rem;
}

.homesection3child h2 {
     padding: 20px;
}

.homesection3child h1 {
     margin-top: 1rem;
     padding: 10px;
     font-size: 2.5rem;
}

.homesection3child1 {
     padding: 10px 0;
     background-color: #47bb71;
     background: linear-gradient(#47bb71, white);
     color: white;
}

.homesection3child2 {
     background-color: #3b489c;
     background: linear-gradient(#3b489c, white);
     color: white;
}

.homesection3child3 {
     background-color: #5d0365;
     background: linear-gradient(#5d0365, white);
     color: #ffffff;
}

.homesection3child button {
     padding: 10px 25px;
     border-radius: 5px;
     border: none;
     margin: 1.4rem 0;
     cursor: pointer;
}

.homesection3child p {
     padding: 10px;
}

.homesection3child1 button {
     background-color: #47bb71;
     color: white;
}

.homesection3child2 button {
     background-color: #3b489c;
     color: white;
}

.homesection3child3 button {
     background-color: #5d0365;
     color: #ffffff;
}

.homesection4 {
     text-align: center;
     margin: 1em;
}

.homesection4 p {
     margin: 0.8rem;
}

.homesection5 {
     display: flex;
     margin: 4em 0;
}

.homesection5child1 {
     width: 30%;
     display: block;
     margin: 0 auto;
}

.homesection5child1 h1 {
     font-weight: 600;
}

.homesection5child1 p {
     margin: 20px 0;
     font-size: 1.2rem;
}

.homesection5child1>div {
     display: flex;
}

.homesection5child1>div li:nth-child(1) {
     list-style: disc;
     margin-left: 6px;
}

.homesection5child1 li {
     color: #484747;
     font-size: 1.2rem;
     padding: 10px 0;
}

.homesection5child2 {
     padding: 2em 0;
     width: 50%;
     background-color: #f7f5f5;
}

.homesection5child2>div {
     display: flex;
     flex-direction: column;
     width: 70%;
     margin: 1em auto;
}

.homesection5child2>div input {
     padding: 10px 5px;
}

.homesection5child2>div button {
     padding: 10px 5px;
     background-color: #47bb71;
     border: none;
     font-size: 1.2rem;
     cursor: pointer;
     color: #fff;
}

.homesection6 {
     margin: 7rem 0;
     display: flex;
}

.homesection6child1 {
     width: 30%;
     display: block;
     margin: 0 auto;
}

.homesection6child2 {
     width: 30%;
     display: block;
     margin: 0 auto;
}

.homesection6child2 h1 {
     font-weight: 600;
     margin-bottom: 2rem;
}

.homesection6child2>div {
     display: flex;
}

.homesection6child2>div li:nth-child(1) {
     list-style: disc;
     margin-left: 6px;
}

.homesection6child2 li {
     color: #484747;
     font-size: 1.2rem;
     padding: 10px 0;
}














@media (max-width:950px) {
     .homesection1child1 h1 {
          font-size: 2rem;
     }

     .homesection1child1 {
          width: 100%;
          text-align: center;
          padding-bottom: 100px;
     }

     .homesection1child1 p {
          width: 90%;
     }

     .homesection1child2 {
          display: none;
     }
}

@media (max-width:700px) {
     .buttons {
          display: flex;
          flex-direction: column;
     }

     .homebtn1 {
          background-color: #ffbc04;
     }

     .homebtn2 {
          margin-left: 0rem;
          margin-top: 1rem;
          border: 1px solid black;
          background-color: #fff;
     }
}