.home {
     padding-top: 80px;
     background-color: #f7f7f7;
}

.homesection1 {
     display: flex;
     width: 85%;
     margin: 0 auto;
}

.homesection1child1 {
     width: 50%;
}

.homesection1child2 {
     width: 50%;
}

.homesection1child1 h1 {
     font-size: 2.9rem;
     font-weight: 600;
     margin-top: 1.6em;
     margin-bottom: 20px;
}

.homesection1child1 p {
     font-size: 1.2rem;
     margin: 1em auto 1.4em auto;
}

.homebtn {
     border-radius: 5px;
     border: none;
     font-weight: 600;
     font-size: 15px;
     padding: 16px 3rem;
     color: #1d1d1d;
}

.homebtn1 {
     background-color: #ffbc04;
}

.homebtn2 {
     margin-left: 1rem;
     border: 1px solid black;
     background-color: #fff;
}


@media (max-width:950px) {
     .homesection1child1 h1 {
          font-size: 2rem; 
     }
     .homesection1child1 {
          width: 100%;
          text-align: center;
     }

     .homesection1child1 p {
         width: 90%;
     }

     .homesection1child2 {
          display: none;
     }
}
@media (max-width:700px){
     .buttons{
          display: flex;
          flex-direction: column;
     }
     .homebtn1 {
          background-color: #ffbc04;
     }
     
     .homebtn2 {
          margin-left: 0rem;
          margin-top: 1rem;
          border: 1px solid black;
          background-color: #fff;
     }
}